*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary {
    display: block;
}

body {
    /*background: rgba(172, 172, 172, 0.27);*/
    /*background: rgba(54, 54, 54, 0.81);*/
    background: #333333;
}
.head{
    width: 100%;
    height: auto;
    background: #434343;
    min-height: 100px;
}
.headerLogo{
    width: 30%;
    margin: 2%;
}
.loginButton{
    padding: 1%;
    float: right;
    width: auto;
    display: inline-block;
}
.loginButtonImage{
    border: thin #a3a3a3 solid;
    border-radius: 45px;
    width: 150px;
}
.loginButtonImage:hover{
    background: #5d5d5d;
    transition: 1s;
    cursor: pointer;
}

.cartButtonImage{
    display: inline-block;
    margin: 3%;
    border-radius: 45px;
    width: 150px;
    float: right;
    background: #c4c4c4;
}
.cartButtonImage:hover{
    background: #232525;
    cursor: pointer;
    transition: 1s;
}
.viewGalleryButton{
    padding: 1%;
    width: 308px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 100px;
}

.viewGalleryButtonImage{
    border: thin #9e9e9e solid;
    border-radius: 45px;
    width: 290px;
    display: block;
    background: #333333;
}

.viewGalleryButtonImage:hover{
    background: #5d5d5d;
    transition: 1s;
    cursor: pointer;
}
.footer{
    /*background-image: url("images/footer/background2.jpg");*/
    /*background-image-repeat: no-repeat;*/
    background: rgb(60, 60, 60);
    height: 470px;
    color: #a5a5a5;
    font-family: Roboto;
    text-align: center;
    padding: 2px;
}
.footerMsg{
    font-size: 1.2em;
    width: 80%;
    margin: 1% auto;
}
.footerMsgSmall{
    font-size: 1.2em;
    width: 80%;
    margin: 1% auto;
}
.social{
    width: 70px;
    height: 70px;
    margin: 10px;
}
.download{
    height: 100px;
    width:100px;
}
.contact{
    height: 40px;
    width: 40px;
    margin: 0 20px;
}
.support{
    height: 50px;
    width:50px;
    margin: 5px 20px;
}

.galleryContainer{
    text-align: center;
    font-size: 2em;
    color: #9e9e9e;
    height: auto;
    width: 95%;
    margin: 2.5%;
    font-family: Roboto;
}
.view{
    margin: 10px auto;
    width: 100px;
    display: inline-block;
    border-radius: 45px;
    background: #c4c4c4;
}
.view:hover{
    background: #232525;
    cursor: pointer;
    transition: 1s;
}
.item{
    height: auto;
    width:30%;
    margin:1%;
    display: inline-block;
}
.item:Hover{
    border-radius: 15px;
    box-shadow: #5d5d5d .1px .1px .5px .3px;
}
.itemImage{
    height: auto;
    width: 70%;
}
.itemImage:hover{
    cursor: pointer;
}
.itemName{
    cursor: pointer;
    text-decoration: none;
    color: #9e9e9e;
}
.cart{
    text-align: center;
    width: 50%;
    min-width: 200px;
    max-height:800px;
    overflow-y: auto;
    background: #626262;
    border-radius: 35px;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 40%;
    z-index: 10;
    display: none;
}
.xButton{
    width: 50px;
    margin-left: 75%;
    padding: 1%;
    cursor: pointer;
}
.cartItem{
    width: 30%;
    margin: 5%;
    display: inline-block;
}
.cartItemImage{
    width: 80%;
}
.cartProceed{
    display: block;
    margin: 2px auto;
    border-radius: 45px;
    width: 150px;
    background: #e4e4e4;
}
.cartProceed:hover{
    background: #f2f2f2;
    cursor: pointer;
    transition: 1s;
}
.itemTotal{
    font-size: 1.2em;
    color: #202020;
}

.sketchfab-embed-wrapper{
    width: 55%;
    min-width: 200px;
    margin: 2%;
    height: 500px;
    border-radius: 35px;
    display: inline-block;
}
.briefDescription{
    color: #888888;
    text-align: justify;
    font-size: 1.2em;
    line-height: 2em;
    float: right;
    margin: 5%;
    width: 30%;
}
.otherBriefDescription{
    color: #999999;
    text-align: justify;
    font-size: 1.5em;
    line-height: 2em;
    margin: 2% auto;
    width: 70%;
}
.image1{
    width: 60%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.image2{
    width: 40%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.clearFix{
    clear: both;
    display: block;
}

.addToCart{
    width: 180px;
    display: block;
    margin: 100px auto;
    border-radius: 45px;
    background: #ffffff;
}

.addToCart:hover {
    width: 190px;
    cursor: pointer;
}

.topArrow {
    width: 70px;
    height: 40px;
    position: fixed;
    z-index: 20;
    top:90%;
    left:90%;
    cursor: pointer;

}


@media only screen and (max-width: 620px) and (min-width: 200px) {
    .headerLogo{
        width: 50%;
        margin: 3%;
    }
    .loginButtonImage{
        width: 70px;
        border-radius: 45px;
        margin-top: 5%;
    }

    .viewGalleryButton{
        width: 200px;
        margin: 1px auto;
    }

    .viewGalleryButtonImage{
        border-radius: 45px;
        width: 200px;
        display: block;
        background: #333333;
    }

    .social{
        width: 40px;
        height: 40px;
        margin: 10px;
    }
    .download{
        height: 70px;
        width:70px;
        margin: 5px;
    }
    .contact{
        height: 30px;
        width: 30px;
        margin: 0 20px;
    }
    .support{
        height: 30px;
        width:30px;
        margin: 5px 20px;
    }
    .footerMsgSmall{
        margin: 40px auto;
    }

    .cartButtonImage{
        margin: 3%;
        width: 100px;
    }
    .item{
        height: auto;
        width:40%;
        margin:2%;
        display: inline-block;
    }

    .view{
        margin: 10px auto;
        width: 70px;
        border-radius: 35px;
        background: #c4c4c4;
    }
    .galleryContainer{
        font-size: 1.5em;
    }
    .cart{
        width: 80%;
        min-width: 200px;
        background: #626262;
        border-radius: 15px;
        margin: 0 auto;
        position: absolute;
        top: 150px;
        left: 10%;
        z-index: 10;
    }

    .sketchfab-embed-wrapper{
        width: 90%;
        min-width: 200px;
        margin: 2% auto;
        height: 300px;
        display: block;
    }

    .briefDescription{
        font-size: 1.2em;
        line-height: 2em;
        width: 90%;
        margin: 5% auto;
        display: block;
        float: none;
    }

    .otherBriefDescription{
        font-size: 1.2em;
        line-height: 2em;
        margin: 5% auto;
        width: 90%;
    }

    .topArrow {
        width: 70px;
        height: 40px;
        position: fixed;
        z-index: 20;
        top:90%;
        left:80%;

    }

}

@media only screen and (max-width: 1120px) and (min-width: 620px) {
    .viewGalleryButton{
        margin-top: 80px;
    }
}